{% extends "wheelcms_axe/base.html" %}

{% block bodytop %}
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">Project name</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <li><a href="">Optie 1</a></li>
        <li><a href="">Optie 2</a></li>
        <li><a href="">Optie 3</a></li>
        </ul>
      </div>
      <div class="pull-right">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              ...
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_main %}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate odio a massa pellentesque sed ultricies arcu pellentesque. Pellentesque egestas lorem eu libero posuere ut iaculis tortor varius. In suscipit tincidunt neque quis sagittis. Proin viverra quam ut nunc volutpat eu dapibus risus ultrices. Nunc nec pulvinar ante. Aliquam erat volutpat. Donec pharetra dolor vel nibh iaculis tristique. Duis sapien purus, ultricies eget auctor ut, viverra elementum ligula. Sed sollicitudin tincidunt nunc nec convallis. Mauris commodo, lorem non imperdiet mollis, massa tellus pretium sem, sit amet pellentesque nibh lacus sit amet nunc. Cras scelerisque tristique eleifend.
</p><p>
Praesent mi nisi, auctor eu porta ornare, pulvinar egestas elit. Nulla adipiscing nisl nec libero feugiat nec posuere dui ultricies. Maecenas ac urna in magna tempus fermentum at non lacus. Fusce semper metus sed purus porttitor quis ultrices ipsum suscipit. Nullam et sagittis ligula. Pellentesque sit amet mollis leo. Duis eget mauris leo, non gravida nulla. Nunc non sapien tellus, eu porttitor est. Maecenas cursus, lectus porta aliquet aliquet, massa sem eleifend urna, tincidunt tincidunt libero felis a nibh. Nam condimentum tellus eget augue pretium eleifend. Quisque sit amet ante elit. Nulla facilisi. Sed at mollis mauris. Nunc rhoncus turpis vel tortor pellentesque suscipit. Cras quis pretium augue.
</p><p>
Maecenas suscipit, massa id tempor convallis, sapien enim dictum diam, nec semper massa arcu ut turpis. Mauris condimentum fermentum sagittis. Vestibulum tincidunt arcu lacus. Morbi adipiscing, enim sit amet ultrices laoreet, ligula eros adipiscing ipsum, id dictum felis sapien non augue. Vivamus vel aliquet felis. Fusce gravida aliquet mi sit amet consectetur. Donec mauris dui, euismod sed adipiscing eu, iaculis eu leo. Sed luctus purus vitae diam egestas tempor scelerisque ante imperdiet. Morbi sodales convallis tempor.
</p><p>
In elementum scelerisque est eget viverra. Nullam tellus tortor, ornare sit amet aliquam ut, tempus at neque. Ut ut enim magna. Vestibulum adipiscing varius mauris eget condimentum. Proin lorem leo, blandit id porttitor eu, pellentesque ut dolor. Maecenas eu diam eu mauris dapibus pulvinar id suscipit erat. Suspendisse sed euismod massa. Vivamus scelerisque elementum arcu a feugiat. Etiam ornare velit et ipsum cursus ut placerat ante pellentesque. Fusce hendrerit massa sit amet mauris iaculis sit amet cursus neque condimentum. Sed dignissim metus et massa pharetra et egestas quam consectetur. Suspendisse potenti.
</p><p>
Suspendisse congue enim at nunc imperdiet euismod. Donec cursus, lorem vel vulputate blandit, odio odio porta lorem, in vestibulum massa dui sodales mauris. Donec justo sem, luctus at lobortis vel, elementum et purus. Nulla lobortis, sapien at pharetra ornare, quam sem dictum leo, vel ultrices eros nibh et ante. Nunc quam turpis, mollis pulvinar condimentum nec, euismod a metus. Cras quis ligula at dui lacinia suscipit. In fringilla convallis euismod.
</p>
</div>

This is page {{instance}}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate odio a massa pellentesque sed ultricies arcu pellentesque. Pellentesque egestas lorem eu libero posuere ut iaculis tortor varius. In suscipit tincidunt neque quis sagittis. Proin viverra quam ut nunc volutpat eu dapibus risus ultrices. Nunc nec pulvinar ante. Aliquam erat volutpat. Donec pharetra dolor vel nibh iaculis tristique. Duis sapien purus, ultricies eget auctor ut, viverra elementum ligula. Sed sollicitudin tincidunt nunc nec convallis. Mauris commodo, lorem non imperdiet mollis, massa tellus pretium sem, sit amet pellentesque nibh lacus sit amet nunc. Cras scelerisque tristique eleifend.
</p><p>
Praesent mi nisi, auctor eu porta ornare, pulvinar egestas elit. Nulla adipiscing nisl nec libero feugiat nec posuere dui ultricies. Maecenas ac urna in magna tempus fermentum at non lacus. Fusce semper metus sed purus porttitor quis ultrices ipsum suscipit. Nullam et sagittis ligula. Pellentesque sit amet mollis leo. Duis eget mauris leo, non gravida nulla. Nunc non sapien tellus, eu porttitor est. Maecenas cursus, lectus porta aliquet aliquet, massa sem eleifend urna, tincidunt tincidunt libero felis a nibh. Nam condimentum tellus eget augue pretium eleifend. Quisque sit amet ante elit. Nulla facilisi. Sed at mollis mauris. Nunc rhoncus turpis vel tortor pellentesque suscipit. Cras quis pretium augue.
</p><p>
Maecenas suscipit, massa id tempor convallis, sapien enim dictum diam, nec semper massa arcu ut turpis. Mauris condimentum fermentum sagittis. Vestibulum tincidunt arcu lacus. Morbi adipiscing, enim sit amet ultrices laoreet, ligula eros adipiscing ipsum, id dictum felis sapien non augue. Vivamus vel aliquet felis. Fusce gravida aliquet mi sit amet consectetur. Donec mauris dui, euismod sed adipiscing eu, iaculis eu leo. Sed luctus purus vitae diam egestas tempor scelerisque ante imperdiet. Morbi sodales convallis tempor.
</p><p>
In elementum scelerisque est eget viverra. Nullam tellus tortor, ornare sit amet aliquam ut, tempus at neque. Ut ut enim magna. Vestibulum adipiscing varius mauris eget condimentum. Proin lorem leo, blandit id porttitor eu, pellentesque ut dolor. Maecenas eu diam eu mauris dapibus pulvinar id suscipit erat. Suspendisse sed euismod massa. Vivamus scelerisque elementum arcu a feugiat. Etiam ornare velit et ipsum cursus ut placerat ante pellentesque. Fusce hendrerit massa sit amet mauris iaculis sit amet cursus neque condimentum. Sed dignissim metus et massa pharetra et egestas quam consectetur. Suspendisse potenti.
</p><p>
Suspendisse congue enim at nunc imperdiet euismod. Donec cursus, lorem vel vulputate blandit, odio odio porta lorem, in vestibulum massa dui sodales mauris. Donec justo sem, luctus at lobortis vel, elementum et purus. Nulla lobortis, sapien at pharetra ornare, quam sem dictum leo, vel ultrices eros nibh et ante. Nunc quam turpis, mollis pulvinar condimentum nec, euismod a metus. Cras quis ligula at dui lacinia suscipit. In fringilla convallis euismod.
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vulputate odio a massa pellentesque sed ultricies arcu pellentesque. Pellentesque egestas lorem eu libero posuere ut iaculis tortor varius. In suscipit tincidunt neque quis sagittis. Proin viverra quam ut nunc volutpat eu dapibus risus ultrices. Nunc nec pulvinar ante. Aliquam erat volutpat. Donec pharetra dolor vel nibh iaculis tristique. Duis sapien purus, ultricies eget auctor ut, viverra elementum ligula. Sed sollicitudin tincidunt nunc nec convallis. Mauris commodo, lorem non imperdiet mollis, massa tellus pretium sem, sit amet pellentesque nibh lacus sit amet nunc. Cras scelerisque tristique eleifend.
</p><p>
Praesent mi nisi, auctor eu porta ornare, pulvinar egestas elit. Nulla adipiscing nisl nec libero feugiat nec posuere dui ultricies. Maecenas ac urna in magna tempus fermentum at non lacus. Fusce semper metus sed purus porttitor quis ultrices ipsum suscipit. Nullam et sagittis ligula. Pellentesque sit amet mollis leo. Duis eget mauris leo, non gravida nulla. Nunc non sapien tellus, eu porttitor est. Maecenas cursus, lectus porta aliquet aliquet, massa sem eleifend urna, tincidunt tincidunt libero felis a nibh. Nam condimentum tellus eget augue pretium eleifend. Quisque sit amet ante elit. Nulla facilisi. Sed at mollis mauris. Nunc rhoncus turpis vel tortor pellentesque suscipit. Cras quis pretium augue.
</p><p>
Maecenas suscipit, massa id tempor convallis, sapien enim dictum diam, nec semper massa arcu ut turpis. Mauris condimentum fermentum sagittis. Vestibulum tincidunt arcu lacus. Morbi adipiscing, enim sit amet ultrices laoreet, ligula eros adipiscing ipsum, id dictum felis sapien non augue. Vivamus vel aliquet felis. Fusce gravida aliquet mi sit amet consectetur. Donec mauris dui, euismod sed adipiscing eu, iaculis eu leo. Sed luctus purus vitae diam egestas tempor scelerisque ante imperdiet. Morbi sodales convallis tempor.
</p><p>
In elementum scelerisque est eget viverra. Nullam tellus tortor, ornare sit amet aliquam ut, tempus at neque. Ut ut enim magna. Vestibulum adipiscing varius mauris eget condimentum. Proin lorem leo, blandit id porttitor eu, pellentesque ut dolor. Maecenas eu diam eu mauris dapibus pulvinar id suscipit erat. Suspendisse sed euismod massa. Vivamus scelerisque elementum arcu a feugiat. Etiam ornare velit et ipsum cursus ut placerat ante pellentesque. Fusce hendrerit massa sit amet mauris iaculis sit amet cursus neque condimentum. Sed dignissim metus et massa pharetra et egestas quam consectetur. Suspendisse potenti.
</p><p>
Suspendisse congue enim at nunc imperdiet euismod. Donec cursus, lorem vel vulputate blandit, odio odio porta lorem, in vestibulum massa dui sodales mauris. Donec justo sem, luctus at lobortis vel, elementum et purus. Nulla lobortis, sapien at pharetra ornare, quam sem dictum leo, vel ultrices eros nibh et ante. Nunc quam turpis, mollis pulvinar condimentum nec, euismod a metus. Cras quis ligula at dui lacinia suscipit. In fringilla convallis euismod.
</p>
{% endblock %}
